{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/livro/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome da Editora</th>
            <th>Título</th>
            <th>Gênero</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for livro in dados %}
        <tr>
            <td>{{livro.editora.nome}}</td>
            <td>{{livro.titulo}}</td>
            <td>{{livro.genero}}</td>
            <td><a href="/livro/edit/{{livro.id}}">[...]</a></td>
            <td><a href="/livro/remove/{{livro.id}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}
