{% extends "base.html" %}

{% block conteudo %}

    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div>
                {{msg}}
            </div>
        {% endfor %}
    {% endif %}

    <fieldset>
        <form action="/livro/edit-save" method="post">
            <div>
                <label for="titulo">Título: </label>
                <input type="text" name="titulo" id="titulo">
            </div>
            <div>
                <label for="genero">Gênero: </label>
                <input type="text" name="genero" id="genero">
            </div>
            <div>
                <label for="editora">Editora: </label>
                <select name="editora_id" id="editora">
                    <option value=""></option>
                    {% for e in editora %}
                    <option value="{{e.id}}">{{e.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="hidden" name="id" id="id" value="{{dados.id}}">
            <button type="submit">Salvar</button>
        </form>
    </fieldset>

{% endblock %}
