{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="/editora/add">Adicionar</a>
    </div>
    <table>
        <tr>
            <th>Nome</th>
            <th>Fundação</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        {% for editora in dados %}
        <tr>
            <td>{{editora.nome}}</td>
            <td>{{editora.fundacao}}</td>
            <td><a href="/editora/edit/{{editora.id}}">[...]</a></td>
            <td><a href="/editora/remove/{{editora.id}}">[X]</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}
