{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/pedidos/save" method="post">
        <div>
            <label for="nome">Editora: </label>
            <select name="editora_id" id="nome">
                <option value=""></option>
                {% for u in editora %}
                <option value="{{u.id}}">{{u.nome}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="nome">Título: </label>
            <select name="livro_id" id="nome">
                <option value=""></option>
                {% for p in livro %}
                <option value="{{p.id}}">{{p.titulo}}</option>
                {% endfor %}    
            </select>      
        </div>
        <div>
            <label for="data">Data:</label>
            <input type="date" name="data" id="data" required>
        </div>
        <button type="submit">Salvar</button>
        <div class="stanley">
            <img src="../static/img/lnd.jpg" alt="ofe">
        </div>
    </form>

{% endblock %}